@font-face {
    font-family: 'roboto';
    font-weight: normal;
    font-style: normal;
    src: url('../Fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: normal;
    src: url('../Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'roboto';
    font-weight: normal;
    font-style: italic;
    src: url('../Fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: italic;
    src: url('../Fonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'freemono';
    font-weight: normal;
    font-style: normal;
    src: url('../Fonts/FreeMono.ttf');
}

@font-face {
    font-family: 'freemono';
    font-weight: bold;
    font-style: normal;
    src: url('../Fonts/FreeMonoBold.ttf');
}

@font-face {
    font-family: 'freemono';
    font-weight: normal;
    font-style: italic;
    src: url('../Fonts/FreeMonoOblique.ttf');
}

@font-face {
    font-family: 'freemono';
    font-weight: bold;
    font-style: italic;
    src: url('../Fonts/FreeMonoBoldOblique.ttf');
}

@font-face {
    font-family: 'roboto-condensed';
    font-weight: normal;
    font-style: normal;
    src: url('../Fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'roboto-condensed';
    font-weight: bold;
    font-style: normal;
    src: url('../Fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'roboto-condensed';
    font-weight: normal;
    font-style: italic;
    src: url('../Fonts/RobotoCondensed-Italic.ttf');
}

@font-face {
    font-family: 'roboto-condensed';
    font-weight: bold;
    font-style: italic;
    src: url('../Fonts/RobotoCondensed-BoldItalic.ttf');
}