/* importing generic design CSS files */
@import url("../../../_CSS/pagedimensions-generic.css");
@import url("../../../_CSS/tableofcontents-generic.css");
  


/**************************************************************/
/* table of contents */

.mpdf_toc a[href]::after{
    content: " " leader(dotted) " " target-counter(attr(href), page);
}
/* coloring numbers in table of contents */
.mpdf_toc .mpdf_toc_level_1 a[href]::before,
.mpdf_toc .mpdf_toc_level_2 a[href]::before,
.mpdf_toc .mpdf_toc_level_3 a[href]::before,
.mpdf_toc .mpdf_toc_level_4 a[href]::before,
.mpdf_toc .mpdf_toc_level_5 a[href]::before {
    color: red;
}
.mpdf_toc a {
  color: #000000;
  text-decoration: none;
}
/* numbering for all toc levels */
/* we ignore level 0 here, because it is used for the sections (or parts) of a book */
.mpdf_toc .mpdf_toc_level_1 a[href]::before{
    content: target-counter(-ro-attr(href url), chaptercounter)
    " ";
}
.mpdf_toc .mpdf_toc_level_2 a[href]::before{
    content: target-counter(-ro-attr(href url), chaptercounter)
    "." target-counter(-ro-attr(href url), body-h1)
    " ";
}
.mpdf_toc .mpdf_toc_level_3 a[href]::before{
    content: target-counter(-ro-attr(href url), chaptercounter)
    "." target-counter(-ro-attr(href url), body-h1)
    "." target-counter(-ro-attr(href url), body-h2)
    " ";
}
.mpdf_toc .mpdf_toc_level_4 a[href]::before{
    content: target-counter(-ro-attr(href url), chaptercounter)
    "." target-counter(-ro-attr(href url), body-h1)
    "." target-counter(-ro-attr(href url), body-h2)
    "." target-counter(-ro-attr(href url), body-h3)
    " ";
}
.mpdf_toc .mpdf_toc_level_5 a[href]::before{
    content: target-counter(-ro-attr(href url), chaptercounter)
    "." target-counter(-ro-attr(href url), body-h1)
    "." target-counter(-ro-attr(href url), body-h2)
    "." target-counter(-ro-attr(href url), body-h3)
    "." target-counter(-ro-attr(href url), body-h4)
    " ";
}
.mpdf_toc .mpdf_toc_level_6 a[href]::before{
    content: target-counter(-ro-attr(href url), chaptercounter)
    "." target-counter(-ro-attr(href url), body-h1)
    "." target-counter(-ro-attr(href url), body-h2)
    "." target-counter(-ro-attr(href url), body-h3)
    "." target-counter(-ro-attr(href url), body-h4)
    "." target-counter(-ro-attr(href url), body-h5)
    " ";
}

/**************************************************************/
/* chapter counter */
div.chapter {
  counter-increment: chaptercounter 1; /* Increment the chapter counter */
  counter-reset: tables 0 figures 0;  /* Reset counters for tables and figures */
}
/* Styling chapter numbers for this example */
.chapter-h1::before,
.body-h1::before,
.body-h2::before,
.body-h3::before,
.body-h4::before,
.body-h5::before {
    padding-right: 5mm;
    color: red;
}

/* Add the Chapter numbers */
.chapter-h1::before {    
    content: counter(chaptercounter) " ";
    counter-reset: body-h1 0 body-h2 0 body-h3 0 body-h4 0 body-h5 0;
}

.body-h1 { counter-increment: body-h1 1; }
.body-h1::before { content: counter(chaptercounter) "." counter(body-h1) " "; }

.body-h2 { counter-increment: body-h2 1; }
.body-h2::before { content: counter(chaptercounter) "." counter(body-h1) "." counter(body-h2) " "; }

.body-h3 { counter-increment: body-h3 1; }
.body-h3::before { content: counter(chaptercounter) "." counter(body-h1) "." counter(body-h2) "." counter(body-h3) " "; }

.body-h4 { counter-increment: body-h4 1; }
.body-h4::before { content: counter(chaptercounter) "." counter(body-h1) "." counter(body-h2) "." counter(body-h3) "." counter(body-h4) " "; }

.body-h5 { counter-increment: body-h4 1; }
.body-h5::before { content: counter(chaptercounter) "." counter(body-h1) "." counter(body-h2) "." counter(body-h3) "." counter(body-h4) "." counter(body-h5) " "; }


/**************************************************************/
/* all pages which start on the right */
h1.section, .chapter-h1, .toc {
  break-before: left;
}

