  @page {
      sheet-size: 170mm 220mm;  
      size: 170mm 220mm;      
  }
  @page:right {    
      margin-left: 1.8cm; 
      margin-right: 1.8cm;
      margin-top: 2.4cm; 
      margin-bottom: 2.8cm;       
  }
  @page:left {    
      margin-right: 1.8cm; 
      margin-left: 1.8cm;
      margin-top: 2.4cm; 
      margin-bottom: 2.8cm;       
  }
@page
{
  @top-left { 
    content: none; 
    margin-top: 8mm;
    font-family: ""; 
    font-size: 5pt; 
    white-space:pre-wrap;
  }
  @top-center { 
    content: none; 
    margin-top: 8mm;
    font-family: ""; 
    font-size: 5pt; 
    white-space:pre-wrap;
  }
  @top-right { 
    content: none; 
    margin-top: 8mm;
    font-family: ""; 
    font-size: 5pt; 
    white-space:pre-wrap;
  }
  @bottom-left { 
    content: none; 
    margin-bottom: 12mm;
    font-family: ""; 
    font-size: 10pt; 
    white-space:pre-wrap;
  }
  @bottom-center { 
    content: none; 
    margin-bottom: 12mm;
    font-family: ""; 
    font-size: 10pt; 
    white-space:pre-wrap;
  }
  @bottom-right { 
    content: none; 
    margin-bottom: 12mm;
    font-family: ""; 
    font-size: 10pt; 
    white-space:pre-wrap;
  }
}

/**************************************************************/
/* page header and footer */

div.mainmatter {
  page: mainmatter;
}
@page mainmatter:left {
  @top-left { 
    content: "";
  }
  @top-center { 
    content: "";
  }
  @top-right { 
    content: "";
  }
  @bottom-left { 
    content: "";
  }
  @bottom-center { 
    content: counter(page);
  }
  @bottom-right { 
    content: "";
  }
}
@page mainmatter:right {
  @top-left { 
    content: "";
  }
  @top-center { 
    content: "";
  }
  @top-right { 
    content: "";
  }
  @bottom-left { 
    content: "";
  }
  @bottom-center { 
    content: counter(page);
  }
  @bottom-right { 
    content: "";
  }
}


/**************************************************************/
/* table of contents */

/* chapter and table counter */
div.chapter {
  counter-increment: chaptercounter 1; /* Increment the chapter counter */
  counter-reset: tables 0 figures 0;  /* Reset counters for tables and figures */
}
.chapter-h1::before {
    /* Add the Chapter and the Sub-Chapter numbers */
    content: counter(chaptercounter, upper-latin) " ";
    padding-right: 2mm;
}

.mpdf_toc a[href]::after{
    content: " " leader(dotted) " " target-counter(attr(href), page);
}
.mpdf_toc a {
  color: #000000;
  text-decoration: none;
}


/**************************************************************/
/* table of tables */

.toc_tables a[href]::after{
    content: " " leader(dotted) " " target-counter(attr(href), page);
}
.toc_tables a {
  color: #000000;
  text-decoration: none;
}
/* numbering of tables in chapter */
div.group_table {
  break-inside: avoid-page;
  counter-increment: tables;
}
div.group_table > .caption_table::before {
  content: "Tab. " counter(chaptercounter) "." counter(tables) ": "; /* Add table numbering */
}


/**************************************************************/
/* table of figures */

.toc_figures a[href]::after{
    content: " " leader(dotted) " " target-counter(attr(href), page);
}
.toc_figures a {
  color: #000000;
  text-decoration: none;
}
/* numbering of tables in chapter */
div.group_img {
  break-inside: avoid-page;
  counter-increment: figures;
}
div.group_img > .caption_small::before {
  content: "Tab. " counter(chaptercounter) "." counter(figures) ": "; /* Add table numbering */
}

/**************************************************************/
/* all pages which start on the right */
h1.section, .chapter-h1, .toc {
  break-before: left;
}


/* TABLE *****************************************************************/
/* table css */
table {
  border-collapse: collapse;
  max-width: 100%;
}
th, td {
  border: 0.1mm solid #000000;
  padding: 0.6em 0.8em;
}


caption, 
.caption,
.caption_small, 
.caption_table,
.caption_img, 
.caption_fig, 
.caption_image, 
.caption_figure {
  margin-top: 15pt;
  font-size: 9pt;
  font-style: italic;
}

/* Table of tables ****************************************/
div.toc_tables,
div.toc_figures {
  font-family: ""; 
  padding-top: 45pt;
}

div.toc_tables_level_0,
div.toc_figures_level_0 {
  font-size: 10pt;
  font-weight: bold;
  text-indent: 0;
  padding: 0;
  margin: 0; 
  width: auto;
}

div.toc_tables_level_1,
div.toc_figures_level_1 {
  text-indent: 0;
  padding: 0;
  margin: 0; 
  padding-left: 8mm;
  width: auto;
}


/* Table of contents ****************************************/
div.mpdf_toc {
  font-family: ""; 
  padding-top: 45pt;
}

div.mpdf_toc_level_0 {
  font-size: 10pt;
  font-weight: bold;
  text-indent: 0;
  padding: 0;
  margin: 0; 
  width: auto;
}

div.mpdf_toc_level_1 {
  text-indent: 0;
  padding: 0;
  margin: 0; 
  padding-left: 8mm;
  width: auto;
}

div.mpdf_toc_level_2,
div.mpdf_toc_level_3,
div.mpdf_toc_level_4,
div.mpdf_toc_level_5
{
  text-indent: 0;
  padding: 0;
  margin: 0; 
  padding-left: 16mm;
  width: auto;
}

.mpdf_toc_t_level_0,
.mpdf_toc_t_level_1,
.mpdf_toc_t_level_2,
.mpdf_toc_t_level_3,
.mpdf_toc_t_level_4,
.mpdf_toc_t_level_5
{
  font-size: 10pt;
  padding: 0px;
  margin: 0px;
}

.mpdf_toc_p_level_0,
.mpdf_toc_p_level_1,
.mpdf_toc_p_level_2,
.mpdf_toc_p_level_3,
.mpdf_toc_p_level_4,
.mpdf_toc_p_level_5
{
  font-size: 10pt;
  padding: 0px;
  margin: 0px;
}

div.toc-title 
{
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  font-family: ""; 
  font-size: 16.6pt;
  font-weight: "bold"; 
  text-align: "left"; 
  hyphens: auto;
}
