/* importing generic design CSS files */
@import url("../../../_CSS/pagedimensions-generic.css");
@import url("../../../_CSS/tableofcontents-generic.css");
@import url("../../../_CSS/tableoftablesandfigures-generic.css");

/**************************************************************/
/* table of contents */

/* chapter and table counter */
div.chapter {
  counter-increment: chaptercounter 1; /* Increment the chapter counter */
  counter-reset: tables 0 figures 0;  /* Reset counters for tables and figures */
}
.chapter-h1::before {
    /* Add the Chapter and the Sub-Chapter numbers */
    content: counter(chaptercounter, upper-latin) " ";
    padding-right: 2mm;
}

.mpdf_toc a[href]::after{
    content: " " leader(dotted) " " target-counter(attr(href), page);
}
.mpdf_toc a {
  color: #000000;
  text-decoration: none;
}


/**************************************************************/
/* table of tables */

.toc_tables a[href]::after{
    content: " " leader(dotted) " " target-counter(attr(href), page);
}
.toc_tables a {
  color: #000000;
  text-decoration: none;
}
/* numbering of tables in chapter */
div.group_table {
  break-inside: avoid-page;
  counter-increment: tables;
}
div.group_table > .caption_table::before {
  content: "Tab. " counter(chaptercounter) "." counter(tables) ": "; /* Add table numbering */
}


/**************************************************************/
/* table of figures */

.toc_figures a[href]::after{
    content: " " leader(dotted) " " target-counter(attr(href), page);
}
.toc_figures a {
  color: #000000;
  text-decoration: none;
}
/* numbering of tables in chapter */
div.group_img {
  break-inside: avoid-page;
  counter-increment: figures;
}
div.group_img > .caption_small::before {
  content: "Tab. " counter(chaptercounter) "." counter(figures) ": "; /* Add table numbering */
}

/**************************************************************/
/* all pages which start on the right */
h1.section, .chapter-h1, .toc {
  break-before: left;
}


/* TABLE *****************************************************************/
/* table css */
table {
  border-collapse: collapse;
  max-width: 100%;
}
th, td {
  border: 0.1mm solid #000000;
  padding: 0.6em 0.8em;
}


caption, 
.caption,
.caption_small, 
.caption_table,
.caption_img, 
.caption_fig, 
.caption_image, 
.caption_figure {
  margin-top: 15pt;
  font-size: 9pt;
  font-style: italic;
}

